<web-app>

<servlet>

<servlet-name>login</servlet-name>

<servlet-class>userlog</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>login</servlet-name>

<url-pattern>/userlog</url-pattern>

</servlet-mapping>

<servlet>

<servlet-name>logout</servlet-name>

<servlet-class>Logout</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>logout</servlet-name>

<url-pattern>/Logout</url-pattern>

</servlet-mapping>

<servlet>

<servlet-name>Ordermed</servlet-name>

<servlet-class>ordermed</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>Ordermed</servlet-name>

<url-pattern>/ordermed</url-pattern>

</servlet-mapping>

<servlet>

<servlet-name>Lablog</servlet-name>

<servlet-class>lablog</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>Lablog</servlet-name>

<url-pattern>/lablog</url-pattern>

</servlet-mapping>


<servlet>

<servlet-name>Uploadresult</servlet-name>

<servlet-class>uploadresult</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>Uploadresult</servlet-name>

<url-pattern>/uploadresult</url-pattern>

</servlet-mapping>


<servlet>

<servlet-name>Updateresult</servlet-name>

<servlet-class>updateresult</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>Updateresult</servlet-name>

<url-pattern>/updateresult</url-pattern>

</servlet-mapping>

<servlet>

<servlet-name>hosplogin</servlet-name>

<servlet-class>hosplog</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>hosplogin</servlet-name>

<url-pattern>/hosplog</url-pattern>

</servlet-mapping>

<servlet>

<servlet-name>pharmlogin</servlet-name>

<servlet-class>pharmlog</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>pharmlogin</servlet-name>

<url-pattern>/pharmlog</url-pattern>

</servlet-mapping>


</web-app>